<!DOCTYPE html>
<html lang="zh-cn" ng-app="App">
<style>

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百思</title>
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/bootstarp/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstarp/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/baisi.css">
    <link rel="stylesheet" href="/dropload/dropload.css">
    <script src="/vue/vue.min.js"></script>
    <script src="/vue/vue-resource.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/dropload/dropload.min.js"></script>
</head>

<body>
    <div class="outer">
        <% include header.ejs %>
            <section class="container inner" ng-controller="newsController">
                <div class="row">
                    <div class="jumbotron jum-head col-md-12">
                        <h3>百思不得姐</h3>
                        <p>
                            <span class="label label-default">视频</span>
                            <span class="label label-primary">图片</span>
                            <span class="label label-success">段子</span>
                            <span class="label label-info">声音</span>
                        </p>
                    </div>
                </div>
                <div class="row" id="ele">
                    <div class="news-panel col-md-12" v-cloak v-for="item in items">
                        <div class="news-head row">
                            <img :src="item.profile_image" alt="">
                            <div>
                                <p>{{item.name}}</p>
                                <p>{{item.create_time}}</p>
                            </div>
                        </div>
                        <div class="news-body row">
                            {{item.text}}
                        </div>
                    </div>
                </div>
            </section>
    </div>
</body>

<script>
    window.onload = function () {
        var vue = new Vue({
            el: '#ele',
            data: {
                items: null,
                page: 0,
                maxtime: 0
            },
            methods: {
                dropload: function () {
                    var _this = this;
                    var dropload = $('.inner').dropload({
                        loadDownFn: function (me) {
                            _this.$http.get('/baisi/list', {
                                page: _this.page,
                                maxtime: _this.maxtime
                            }).then(function (res) {
                                setTimeout(function () {
                                    if (_this.items) {
                                        _this.items.concat(res.data.list);
                                        console.log(_this.items);
                                    } else {
                                        _this.items = res.data.list;
                                    }
                                    _this.page++;
                                    _this.maxtime = res.data.info.maxtime;
                                    dropload.resetload();
                                }, 1000);
                            }, function (res) {
                                alert('Ajax error!');
                                dropload.resetload();
                            })
                        }
                    })
                }
            },
            mounted: function () {
                console.log('初次加载数据');
                this.dropload();
            }
        })
    }
</script>

</html>